.song-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  img {
    width: 23.2%;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px #0000002e);
  }
  h2 {
    padding: 1.7rem 1rem 1rem 1rem;
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: normal;
  }
}
.selected {
  background: #c6d5ff;
}
.playing {
  animation: playingAnimation 22s infinite linear !important;
}
@keyframes playingAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
