* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scrollbar-width: thin;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.App,
.Library,
.Library-label,
.songsLib,
.switchSection,
.LibrarySong,
.changeTheme {
  transition: all 0.5s ease;
}
.Library {
  transition: 0.5s ease !important;
  transition-property: transform, opacity !important;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 20px;
  border: transparent;
}
h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}
html {
  transition: unset !important;
}
body {
  background: white;
}
.active-library {
  padding-left: 20rem;
}
//Dark theme
.DarkTheme h1,
.DarkTheme h2,
.DarkTheme h3,
.DarkTheme svg,
.DarkTheme button,
.DarkTheme .time {
  color: #f3f3f3;
}
.DarkTheme .songsLib {
  scrollbar-color: #2d2f31 #1e1e1e;
}
* .DarkTheme .songsLib::-webkit-scrollbar {
  background: #2d2f31;
}
.DarkTheme .songsLib::-webkit-scrollbar-thumb {
  background: #1e1e1e;
}

svg {
  filter: drop-shadow(0px 0px 0.8px #292929);
}
.DarkTheme svg {
  filter: drop-shadow(0px 0px 0.8px #ffffff);
}
.fa-moon,
.fa-sun,
.fa-music {
  filter: unset !important;
}
.DarkTheme button {
  border: 2px solid #cacaca;
}
.DarkTheme .Library-label {
  box-shadow: unset;
  border-bottom: none;
  background: #1e1e1e !important;
}
.DarkTheme .changeTheme {
  box-shadow: -10px -10px 10px #f4f4fc03;
  background: #1e1e1e !important;
}
.DarkTheme .Library {
  box-shadow: 10px 10px 20px #dfe1f61a;
}

.DarkTheme .LibrarySong {
  background: #18191a !important;
}
.DarkTheme .Library-label,
.DarkTheme .LibrarySong,
.DarkTheme .changeTheme {
  background: black;
}
.App {
  min-height: 100vh;
  transition: 0.5s ease !important;
  transition-property: background, padding-left !important;
}
.DarkTheme.App {
  background: #18191a !important;
}
.DarkTheme .selected {
  background: #262626 !important;
}
.DarkTheme .song-container img {
  filter: drop-shadow(0px 0px 10px #ffffff17);
}
.DarkTheme .activeLibraryBtn {
  color: #363636;
  background: white;
  border: 2px solid white;
}
.DarkTheme .activeLibraryBtn svg {
  color: #363636;
}
nav button svg {
  margin-left: 0.2rem;
}
nav button {
  border-radius: 0.1rem;
}
//
@import "./player";
@import "./song";
@import "./library";
@import "./theme";
@import "./nav";

@media screen and (min-width: 801px) {
  .DarkTheme .LibrarySong:hover {
    background: #1e1e1e !important;
  }
  .LibrarySong:hover {
    background: rgb(223, 225, 246);
  }
  nav button:hover {
    background: rgb(54, 54, 54);
    color: white;
  }
}
@media screen and (max-width: 800px) {
  .DarkTheme.App {
    background: #000000 !important;
  }
  .cont {
    display: none;
  }
  .song-container img {
    width: 35%;
  }
  .play-control {
    width: 80%;
  }
  .time-control {
    width: 90%;
  }
  .Library {
    width: 100%;
  }
  .active-library {
    padding-left: 30%;
  }
  nav button {
    z-index: 10;
  }
  nav {
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;
  }
  .Library-label {
    padding-top: 1.4rem !important;
  }
}

@media screen and (max-width: 700px) {
  .song-container img {
    width: 35%;
  }
}
@media screen and (max-width: 600px) {
  .App,
  .Library * {
    transition: all 0.3s ease !important;
  }
  .Library {
    transition: all 0.3s ease !important;
  }
  .song-container img {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .Library {
    opacity: 1 !important;
    box-shadow: unset !important;
  }
  .song-container img {
    width: 60%;
  }
  .Library-active {
    box-shadow: 10px 10px 30px #ffffff1c !important;
  }
}
@media screen and (max-width: 410px) {
  .song-container img {
    width: 65%;
  }
}
